%html
  %head
    %title Nid
    %link(type="text/css" rel="stylesheet" media="screen" href="/css/screen.css")
  %body
    %div#wrap
      %header
        %h1
          %a(href="/") @remi
      #content
        =yield
